* {
    margin: 0;
    padding: 0;
}

header {
    padding-top: 10px;
    width: 100%;
    background: ivory;
    text-align: center;

}

nav {
    background-color: black;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

nav li {
    flex: 1;
    list-style: none;
}

nav a {
    display: block;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    background-color: brown;
}

.section1 {
    display: flex;
    margin-top: 20px;
}

.div1 {
    flex: 2;
    border: #4CAF50;
    text-align: center;
}

.div2 {
    flex: 2;
    text-align: center;
}

.div3 {
    flex: 1;
    text-align: center;
}

.titres {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.connecte_text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    margin-top: 50px;
}

.titre_contact {
    display: block;
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 70px;
}

.formulaire {
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
}

.formulaire div {
    padding: 10px;
}

.formulaire div input {
    margin-top: 20px;
}


.titre_hall {
    flex: 1;
    text-align: center;
    font-size: 30;
}

table {
    margin-top: 50px;
    width: 100%;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: brown;
    color: white;
    margin-top: 30px;
    margin-left: 10px;
    padding-left: 20px;
    height: 50px;
}

td {
    margin-left: 10px;
    padding-left: 20px;
    vertical-align: bottom;
}

tr:hover {background-color: cadetblue;}


input.input1 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
}

.input1 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-size: 15px;
    line-height: 1.5;
    
    color: #666666;
}

input {
    outline: none;
    border: none;
}

.button_validate {
    display: block;
    text-decoration: none;
    margin-top: 400px;
    margin-left: 100px;
}

.button_validate_deconnexion {
    display: block;
    text-decoration: none;
    margin-top: 20px;
}

.button_validate_deconnexion button{
    background: transparent;
    border : none;
	border-radius: 25px;
    color: #FFF;  background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    padding: 10px 50px;
}
.button_validate_deconnexion button:hover {
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}


.button_validate_connexion {
    display: block;
    text-decoration: none;
    margin-top: 20px;
}

.button_validate_connexion button{
    background: transparent;
    border : none;
	border-radius: 25px;
    color: #FFF;  background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    padding: 10px 50px;
}
.button_validate_connexion button:hover {
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

.button_validate_inscription {
    display: block;
    text-decoration: none;
    margin-top: 20px;
}

.button_validate_inscription button{
    background: transparent;
    border : none;
	border-radius: 25px;
    color: #FFF;  background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    padding: 10px 50px;
}
.button_validate_inscription button:hover {
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}


.button_validate button{
    background: transparent;
    border : none;
	border-radius: 25px;
    color: #FFF;  background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    padding: 10px 50px;
}
.button_validate button:hover {
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

footer {
    background-color: brown;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-top: 10px;
    width: 100%;
    height: 30px;
}

